body {
  background: #fff;
  color: #000;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #f2f2f2;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
}

input,button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #25D366;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.chat {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}
